.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal !important;
}

.wy-table-responsive {
    overflow : visible !important;
}

.wy-nav-content {
    max-width: 900px;
}

.rst-content .section ul li p:last-child {
    padding: 0px 0px 8px 0px;
}