name: E2E Tests

on:
  pull_request:
    paths:
      - '.github/workflows/e2e_test.yaml'
      - '.github/matrix_includes.json'
      - 'test/e2e/**'
      - 'test/vcpkg-configuration.json'
      - '!**/*.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  matrix_prep:
    runs-on: ubuntu-latest
    outputs:
      test: ${{ steps.test-matrix.outputs.matrix }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: JoshuaTheMiller/conditional-build-matrix@81b51eb8d89e07b86404934b5fecde1cea1163a5 # v2.0.1
        id: test-matrix
        with:
          inputFile: '.github/matrix_includes.json'
          filter: '[?runTests==`true`]'

  test:
    needs: [ matrix_prep ]
    runs-on: ${{ matrix.runs_on }}
    continue-on-error: true
    strategy:
      matrix: ${{ fromJson(needs.matrix_prep.outputs.test) }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install pip dependencies
        run: |
            pip install --upgrade pip
            pip install -r test/e2e/requirements.txt

      - name: Setup vcpkg environment
        uses: soumeh01/cmsis-actions/vcpkg@test-cache
        with:
          config: "./test/vcpkg-configuration.json"
          vcpkg-downloads: "${{ github.workspace }}/.vcpkg/downloads"
          cache: "-"

      - name: Activate Arm tool license
        run: |
          armlm activate --server https://mdk-preview.keil.arm.com --product KEMDK-COM0
        working-directory: ./test

      - name: Binary version info
        shell: bash
        run: |
          csolution${{ matrix.binary_extension }} -V
          cpackget${{ matrix.binary_extension }} -V
          cbuild${{ matrix.binary_extension }} -V
          cbuild2cmake${{ matrix.binary_extension }} -V
          cbuildgen${{ matrix.binary_extension }} -V

      # - name: Run Test
      #   shell: bash
      #   continue-on-error: true
      #   working-directory: ./test
      #   env:
      #     IAR_LMS_BEARER_TOKEN: ${{ secrets.IAR_TOKEN }}
      #   run: |
      #     robot --outputdir reports-${{ matrix.target }}-${{ matrix.arch }} \
      #       --variable TEST_ENV_FILE:test-env-${{ matrix.target }}-${{ matrix.arch }}.md \
      #       --consolewidth=150 --settag ${{ matrix.target }}-${{ matrix.arch }} \
      #       --name ${{ matrix.target }}-${{ matrix.arch }} \
      #       ./e2e

      # - name: Archive test results
      #   if: always()
      #   uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      #   with:
      #     name: reports-${{ matrix.target }}-${{ matrix.arch }}
      #     path: ./test/reports-${{ matrix.target }}-${{ matrix.arch }}

  # report:
  #   runs-on: ubuntu-latest
  #   if: always()
  #   needs: test
  #   permissions: write-all
  #   steps:
  #   - name: Harden Runner
  #     uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
  #     with:
  #       egress-policy: audit

  #   - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

  #   - name: Set up Python
  #     uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
  #     with:
  #       python-version: '3.11'
  #       cache: 'pip'

  #   - name: Install pip dependencies
  #     run: |
  #         pip install --upgrade pip
  #         pip install -r test/e2e/requirements.txt

  #   - name: Download reports
  #     uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
  #     with:
  #       path: artifacts
  #       pattern: reports-*

  #   - name: Consolidate robot test results
  #     working-directory: artifacts
  #     continue-on-error: true
  #     run: |
  #       python -m robot.rebot --name Collective_Robot_Results --outputdir collective_robot_results --output output.xml \
  #         ./reports-windows-amd64/output.xml \
  #         ./reports-linux-amd64/output.xml

  #   - name: Generate Summary report
  #     if: always()
  #     run: |
  #       python ./test/e2e/lib/execution_summary.py artifacts \
  #         -r ./test/e2e/reference.md \
  #         -o artifacts/collective_robot_results/output.xml \
  #         -m summary_report.md

  #   - name: Print E2E Report
  #     if: always()
  #     run: cat summary_report.md >> $GITHUB_STEP_SUMMARY

  #   - name: Archive consolidated test results
  #     if: always()
  #     uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
  #     with:
  #       name: consolidated-reports
  #       path: artifacts/collective_robot_results


