name: Nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'
  pull_request:
    paths:
      - '.github/workflows/nightly.yml'
      - '.github/workflows/shared-e2e.yml'
      - '.github/matrix_includes.json'
      - 'debian/**'
      - 'test/e2e/**'
      - 'test/vcpkg-configuration.json'
      - '!**/*.md'

jobs:
  test:
    if: github.repository == 'Open-CMSIS-Pack/cmsis-toolbox'
    uses: ./.github/workflows/shared-e2e.yml
    secrets:
      IAR_LMS_BEARER_TOKEN: ${{ secrets.IAR_TOKEN }}

  performance-check:
    needs: [ test ]
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout toolbox repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install pip dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -r test/performance/requirements.txt

      - name: Setup vcpkg environment
        uses: ARM-software/cmsis-actions/vcpkg@afc8e1a46fad8a5e1a08f8477b71050d442f60a7 # v1
        with:
          config: "./test/vcpkg-configuration.json"
          vcpkg-downloads: "${{ github.workspace }}/.vcpkg/downloads"
          cache: "-"

      - name: Activate Arm tool license
        run: |
          armlm activate --server https://mdk-preview.keil.arm.com --product KEMDK-COM0
        working-directory: ./test

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y hyperfine unzip

      # Download the reference toolbox release
      # This needed to be updated when a positive performance delta is expected
      - name: Download Reference cmsis-toolbox
        continue-on-error: true
        uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05 # v1.12
        with:
          repository: Open-CMSIS-Pack/cmsis-toolbox
          tag: "2.12.0-test-reference"
          fileName: "cmsis-toolbox-linux-amd64.zip"

      - name: Unzip Reference cmsis-toolbox
        shell: bash
        run: |
          mkdir -p cmsis-toolbox-reference
          unzip cmsis-toolbox-linux-amd64.zip -d cmsis-toolbox-reference

      - name: Set Execution Permissions
        run: |
          chmod -R +x ./cmsis-toolbox-reference/bin/*

      - name: Get Reference Toolbox Path
        if: always()
        id: ref_toolbox_path
        shell: bash
        run: |
          echo "path=$(echo "$(pwd)/cmsis-toolbox-reference/bin")" >> $GITHUB_OUTPUT

      - name: Print Ref Binary Versions
        if: always()
        shell: bash
        run: |
          export PATH="${{steps.ref_toolbox_path.outputs.path}}:$PATH"
          csolution -V
          cpackget -V
          cbuild -V
          cbuild2cmake -V
          cbuildgen -V

      - name: Clone TestData Repositories
        shell: bash
        working-directory: ./test
        run: |
          set -x  # Enable debugging
          mkdir -p ref_test_dir
          cat performance/input_example_repos.txt | tr -d '\r' > repos_clean.txt  # Ensure no Windows line endings
          while IFS= read -r repo || [[ -n "$repo" ]]; do
            if [[ -n "$repo" ]]; then
              echo "Cloning $repo..."
              git clone "$repo" "ref_test_dir/$(basename "$repo" .git)" || echo "Failed to clone $repo"
            fi
          done < repos_clean.txt

      - name: Collect Performance Metrics (Reference Toolbox)
        working-directory: ./test
        run: |
          export PATH="${{steps.ref_toolbox_path.outputs.path}}:$PATH"
          hyperfine --warmup 3 --runs 5 \
            "cbuild setup ./ref_test_dir/csolution-examples/Hello/Hello.csolution.yml -p -S --update-rte --toolchain AC6" \
            "cbuild setup ./ref_test_dir/vscode-get-started/get_started.csolution.yml -p -S --update-rte --toolchain AC6" \
            "cbuild setup ./ref_test_dir/CMSIS-RTX/Examples/Blinky/Blinky.csolution.yml -p -S --update-rte --toolchain AC6" \
            "cbuild setup ./ref_test_dir/CMSIS-RTX/Examples/Blinky/Blinky.csolution.yml -p -S --update-rte --toolchain GCC" \
            "cbuild setup ./ref_test_dir/CMSIS-RTX/Examples/Blinky/Blinky.csolution.yml -p -S --update-rte --toolchain CLANG" \
            --export-markdown ref_benchmark_results.md \
            --export-json ref_benchmark_results.json \
            --show-output
          # Remove the reference toolbox after the benchmark
          rm -rf ${{steps.ref_toolbox_path.outputs.path}}

      - name: Download cmsis-toolbox
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: cmsis-toolbox-linux-amd64
          path: cmsis-toolbox

      - name: Set Execution Permissions
        run: |
          chmod -R +x ./cmsis-toolbox/bin/*

      - name: Get Toolbox Path
        if: always()
        id: toolbox_path
        shell: bash
        run: |
          echo "path=$(echo "$(pwd)/cmsis-toolbox/bin")" >> $GITHUB_OUTPUT

      - name: Print Curr Binary Versions
        if: always()
        shell: bash
        run: |
          export PATH="${{steps.toolbox_path.outputs.path}}:$PATH"
          export CMSIS_PACK_ROOT="$(pwd)/local_pack_root"
          csolution -V
          cpackget -V
          cbuild -V
          cbuild2cmake -V
          cbuildgen -V

      - name: Clone Repositories
        shell: bash
        working-directory: ./test
        run: |
          set -x  # Enable debugging
          mkdir -p curr_test_dir
          cat performance/input_example_repos.txt | tr -d '\r' > repos_clean.txt  # Ensure no Windows line endings
          while IFS= read -r repo || [[ -n "$repo" ]]; do
            if [[ -n "$repo" ]]; then
              echo "Cloning $repo..."
              git clone "$repo" "curr_test_dir/$(basename "$repo" .git)" || echo "Failed to clone $repo"
            fi
          done < repos_clean.txt

      - name: Collect Performance Metrics (Latest Toolbox)
        working-directory: ./test
        run: |
          export PATH="${{steps.toolbox_path.outputs.path}}:$PATH"
          export CMSIS_PACK_ROOT="$(pwd)/local_pack_root"
          hyperfine --warmup 3 --runs 5 \
            "cbuild setup ./curr_test_dir/csolution-examples/Hello/Hello.csolution.yml -p -S --update-rte --toolchain AC6" \
            "cbuild setup ./curr_test_dir/vscode-get-started/get_started.csolution.yml -p -S --update-rte --toolchain AC6" \
            "cbuild setup ./curr_test_dir/CMSIS-RTX/Examples/Blinky/Blinky.csolution.yml -p -S --update-rte --toolchain AC6" \
            "cbuild setup ./curr_test_dir/CMSIS-RTX/Examples/Blinky/Blinky.csolution.yml -p -S --update-rte --toolchain GCC" \
            "cbuild setup ./curr_test_dir/CMSIS-RTX/Examples/Blinky/Blinky.csolution.yml -p -S --update-rte --toolchain CLANG" \
            --export-markdown curr_benchmark_results.md \
            --export-json curr_benchmark_results.json \
            --show-output

      - name: Generate Comparison Report
        if: always()
        working-directory: ./test
        run: |
          # Generate Comparison report
          # Path to the reference benchmark results (from last known reference)
          # Path to the current benchmark results (from the latest run)
          # --verbose: Verbose output
          # --output: Path to the output comparison report
          python ./performance/generate_comparison.py \
            ref_benchmark_results.md \
            curr_benchmark_results.md \
            --verbose \
            --output comparison_results.md
          cat comparison_results.md >> $GITHUB_STEP_SUMMARY

      - name: Compare Benchmark Results
        working-directory: ./test
        run: |
          # Run the performance regression check script
          # -r: Path to the reference benchmark results (from last known reference)
          # -c: Path to the current benchmark results (from the latest run)
          # -p: Permissible limit multiplier (e.g., 1.10 allows up to 10% permissible degrade)
          python ./performance/check_perf_regression.py \
            -r ref_benchmark_results.json \
            -c curr_benchmark_results.json \
            -p 1.10
